@use 'base/variables' as v;

.alerta {
   padding: calc(v.$separacion / 4);
   color: v.$blanco;
   width: 80%;
   display: block;
   margin: 0rem 10% 1rem 10%;
   text-align: center;
   text-transform: uppercase;
   font-weight: v.$bold;
   

   &.error {
    background-color: v.$rojo;
   }

   &.exito {
    background-color: v.$verde;
   }
}
